/* Start Variables */
:root {
    --main-color: #10cab7;
    --secendary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* special-heading */
.special-heading {
    color: #ecebed;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px;
    text-align: center;
    color: #797979;
    font-size: 20px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
        font-size: 20px;
    }
}

/* end special-heading */
/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
    border-radius: 5px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .container .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
    position: absolute;
    background-color: var(--section-background);
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;

}

.header .container .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;

}

.header .container .links ul li a:hover {
    padding-left: 25px;
    background-color: var(--main-color);
}

.header .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #DDD
}

.header .container .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background);
    top: -20px;
    right: 5px;
}

.header .links:hover ul {
    display: block;
}

/* end header */
/* start landing section */
.landing {
    position: relative;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    margin: 0;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* end landing section */

/* start features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    text-align: center;
}

.features .feat {
    text-align: center;
    padding: 20px;
}

.features .container i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
}

.features .container p {
    color: #777;
    line-height: 1.8;
    margin: 30px;
    font-size: 17px;
}

/* end features */
/* start survices */
.survices {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.survices .container .survices-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.survices .container .col .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .survices .survices-content .srv {
        flex-direction: column;
        text-align: center;
    }

    .survices .survices-content .col .img {
        display: none;
    }
}

@media (max-width: 1200px) {
    .survices .survices-content .col .img {
        display: none;
    }
}

.survices .container .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.survices .container .col .srv .text {
    flex: 1;
}

.survices .container .col .srv .text h3 {
    margin: 0 0 20px 0;
}

.survices .container .col .srv p {
    font-weight: 300;
    line-height: 1.8;
    color: #777;
}

.survices .container .col .img {
    text-align: center;
    position: relative;
}

.survices .container .col .img img {
    width: 280px;
}

.survices .container .col .img::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    background-color: var(--secendary-color);
    z-index: -1;
}

/* end survices */
/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .container .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portfolio .container .row .card {
    width: 350px;
    background-color: white;
    margin: auto;
}

.portfolio .container .row .card .text1 {
    padding: 20px;
}

.portfolio .container .row .card .text1 h3 {
    margin: 0;
}

.portfolio .container .row .card p {
    line-height: 1.8;
    color: #777;
    font-weight: 300;
    margin-bottom: 0;
}

.portfolio .container .row .card img {
    max-width: 100%;
}

/* end portfolio */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .container .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

@media (max-width: 991px) {
    .about .container .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .container .about-content .imag {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .container .about-content .imag::before {
    content: '';
    position: absolute;
    background-color: #ecebed;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .container .about-content .imag::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .container .about-content .imag::before,
    .about .container .about-content .imag::after {
        display: none;
    }
}

.about .container .about-content .imag img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .about .container .about-content .imag {
        margin: 0 auto 60px;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);

}

.about .about-content .text .p1 {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

.about .about-content .text .p2 {
    color: #777;
    line-height: 2;
    font-weight: 300;
}

/* end about */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .first {
    color: var(--secendary-color);
    font-size: 35px;
    text-align: center;
    margin-top: 140px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: -10px;
}

.contact .sec .link {
    display: block;
    color: var(--main-color);
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    text-decoration: none;
}

@media(max-width: 767px) {

    .contact .first,
    .contact .sec .link {
        font-size: 25px;
    }
}


.contact p {
    text-align: center;
    word-spacing: 2px;
    color: var(--secendary-color);
}

.contact p i {
    transition: 0.4s;
}

.contact p i:hover {
    color: var(--main-color);
    cursor: pointer;
}

/* end contact */
/* start footer */

.footer {
    background-color: var(--secendary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer p {
    color: white;
    font-size: 18px;
}

.footer p span {
    font-weight: bold;
    color: var(--main-color);
}

.footer p i {
    color: var(--main-color);
}

/* end footer */